langchain==0.0.198
langchainplus-sdk==0.0.8
langcodes==3.3.0
matplotlib==3.7.1
pandas==1.5.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
spacy==3.5.2
tokenizers==0.13.1
torch==2.0.1
torchdata==0.6.1
torchtext==0.15.2
torchtyping==0.1.4
torchvision==0.14.1
tqdm==4.65.0
transformers @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0fwztwlw96/croot/transformers_1667921642940/work
wandb==0.13.11
